body{
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
         display: flex;
         justify-content: space-between;
         height: 70px;
         background-color: rgb(255, 255, 255);
         align-items: center;
         padding-left:180px ;
         padding-right:180px ;
         
}


.navigation{
         display: flex;
         align-items: center;
         
}

.logo{
         display: flex;
         align-items: center;
         font-size: 30px;
}
.logo a{
         text-decoration: none;
         color: rgb(0, 0, 0);
         font-weight: 600;
         padding: 13px;
}

.left{
display: flex;

}

.left a{
         
         text-decoration: none;
         color: rgb(0, 0, 0);
         font-weight: 600;
         padding: 5px;
}   



.right a{
         
         font-weight: 600;
         padding: 20px;
         text-decoration: none;
         color: black; 
}
.right img{
         height: 24px;
         
}



.left a:hover{
         color: rgb(255, 106, 0);

}


